#deviceImgId {
  display: none;
  max-height: 50vw;
  max-width: 50vh;
}

.center-block {
  display: block;
  margin: 10px auto;

  text-align: center;
}

.button-width {
  width: 300px;
}

textarea {
  height: 200px;
}
